/* body {
  background-color: grey;
} */

h1 {
  text-transform: uppercase;
  color: rgb(188, 55, 161);
  letter-spacing: 5px;
  text-align: center;
  /* text-decoration-line: underline; */
  /* taille de police en rem */
  font-size: 2.5 rem;
  text-shadow: 0 0 0 black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}